<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body style="background-color: powderblue;">
    <div>
        <form action="" method="post">
            <label>USERNAME</label><br>
            <input name="username" type="email" placeholder="write your username"><br><br>
            <label>PASSWORD</label><br>
            <input name="password" type="password" placeholder="write your password"><br><br>
            <button type="sumit">LOGIN</button><br><br>
        </form>
    </div>
    <div>
        <form action="/new">
            <label>New Here?</label>
            <button type="sumit">Register</button>
        </form>
    </div>
    <table class="dataframe vehicle_info">
    </table>
</body>
</html>